Body {
	background-color: green;
}

a {
	text-decoration: none;
	color: red;
}

h1, h2, h3 {
	margin: 0;
}

#container {
	background-color: white;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #66CCFF;
	color: white;
	text-align: center;
	padding: 20px
}

#content {
	padding: 20px;
}

#nav {
	width: 180px;
	float: left;
}

#nav ul {
	list-style-type: none;
	padding: 0;
}

#nav .selected {
	font-weight: bold;
}

#main {
	width: 800px;
	float: right;
	
}#footer {
	clear: both;
	padding: 20px;
	background-color: #999999;
	Color: white:
	text-align: right;
	
}
