*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.header{
	color: tomato;
	background: linear-gradient(to right, #DCE35B, #45b649);
	text-align: center;
	padding: 25px
}
.container{
	width: 100%;
	height: 150vh;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/beach.jpg);
	background-position: center;
	background-size: cover;
	padding-left: 2%;
	padding-right: 2%;
	box-sizing: border-box;
}
.nav{
	width: 68%;
	position: sticky;
	margin: 0px auto;
	z-index: 1;
	display: flex;
	align-items: right;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	padding: 10px;
}
.nav-links ul li a{
	color: white;
	text-decoration: none;
}
.character{
	position: absolute;
}
.one{
	top: 240px;
	left: 20px;
}
.two{
	top: 580px;
	left: 20px;
}
.three{
	top: 940px;
	left: 40px;
}
.description{
	float: right;
	width: 50%;
	text-align: left;
	color: tomato;
}
.footer{
	float: bottom;
	text-align: center;
	color: white;
	background: linear-gradient(to right, #DCE35B, #45b649);
}